Repository jchuang1977/iopsyswrt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Update Docker Image, SMARTHUB3_continuous

.gitlab-ci.yml:

variables:
  SKIP_TEST: "false"

stages:
  - Update docker image
  - IOWRT

.nightly:
  stage: IOWRT
  variables:
    IOPSYSWRT_BRANCH_OR_TAG: $CI_COMMIT_REF_NAME
    BOARD_NAME: $CI_JOB_NAME
    BUILD_TYPE: $BUILD_TYPE
    SKIP_TEST: $SKIP_TEST
  trigger:
    project: devops/iopsyswrt
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'

.continuous:
  stage: IOWRT
  trigger:
    project: devops/iopsyswrt
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push" && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
      changes:
        - feeds.conf

Update Docker Image:
  stage: Update docker image
  tags:
    - docker
  image:
    name: gcr.io/kaniko-project/executor:v1.5.2-debug
    entrypoint: [""]
  variables:
    GIT_DEPTH: 1
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"${REGISTRY_URL}\":{\"auth\":\"${REGISTRY_AUTH}\"}}}" > /kaniko/.docker/config.json
    - if [ "${CI_COMMIT_REF_NAME:-}" = "${CI_DEFAULT_BRANCH}" ]; then IS_DEFAULT_BRANCH=1; fi
    - |
        /kaniko/executor \
          --context ${CI_PROJECT_DIR} \
          --dockerfile ${CI_PROJECT_DIR}/Dockerfile \
          --destination ${REGISTRY_REPOSITORY}:"${CI_COMMIT_SHORT_SHA}" \
          --destination ${REGISTRY_REPOSITORY}:"${CI_COMMIT_REF_NAME}" \
          ${IS_DEFAULT_BRANCH:+--destination ${REGISTRY_REPOSITORY}:latest}
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH || $CI_COMMIT_BRANCH =~ /^release-\d+\.\d+$/'
      changes:
        - Dockerfile
        - docker/**
        - iop
    - if: '$CI_COMMIT_TAG'
  interruptible: true


# For devices participating in automated testing
.variables_autotest:
  variables:
    CUSTOMER_PROFILE: "EVAL"
    CUSTOMER_PROFILE_EXTRA: "ANALYTICS"

# For select devices that support the EVAL profile
.variables_eval:
  variables:
    CUSTOMER_PROFILE: "EVAL"
    SKIP_TEST: "true"

# For all other devices
.variables_default:
  variables:
    SKIP_TEST: "true"


# Continuous Build
SMARTHUB3_continuous:
  extends:
    - .continuous
    - .variables_eval
  variables:
    BOARD_NAME: "SMARTHUB3"

# Nightly
EX400:
  extends:
    - .nightly
    - .variables_default

SMARTHUB3:
  extends:
    - .nightly
    - .variables_eval

DISC:
  extends:
    - .nightly
    - .variables_eval

EAGLE:
  extends:
    - .nightly
    - .variables_eval

NVG678:
  extends:
    - .nightly
    - .variables_autotest

PANTHER:
  extends:
    - .nightly
    - .variables_default

PANDA:
  extends:
    - .nightly
    - .variables_default

KOALA:
  extends:
    - .nightly
    - .variables_eval

ARCEE:
  extends:
    - .nightly
    - .variables_eval

RODIMUS:
  extends:
    - .nightly
    - .variables_autotest

TIGER:
  extends:
    - .nightly
    - .variables_default

NVG578:
  extends:
    - .nightly
    - .variables_eval

Update feed [ targets ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ airoha ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ qualcomm ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ openwrt_core ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ iopsys ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ openwrt_telephony ]
  feeds.conf
Due: SMARTHUB3_continuous

CI: add nvg578m
  .gitlab-ci.yml
Due: none

Update feed [ broadcom ]
  feeds.conf
Due: SMARTHUB3_continuous

ipq95xx: Added Coccinelle installation steps in dockerfile
  Dockerfile
Due: Update Docker Image

DEVOPS: Add a MediaTek continuous build
  .gitlab-ci.yml
Due: none

Dockerfile: factor out Coccinelle version into arg, reformat
  Dockerfile
Due: Update Docker Image

Update feed iopsys packages voicemngr and libvoice-broadcom
  feeds.conf
Due: SMARTHUB3_continuous
