Repository jchuang1977/iopsyswrt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Update Docker Image, SMARTHUB3_continuous

.gitlab-ci.yml:

stages:
  - Update docker image
  - IOPSYSWRT

.nightly:
  stage: IOPSYSWRT
  variables:
    BOARD_NAME: $CI_JOB_NAME
    BUILD_TYPE: $BUILD_TYPE
    SKIP_TEST: "false"
  trigger:
    project: devops/iopsyswrt
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'

.continuous:
  stage: IOPSYSWRT
  trigger:
    project: devops/iopsyswrt
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      changes:
        - feeds.conf

Update Docker Image:
  stage: Update docker image
  tags:
    - docker
  image:
    name: gcr.io/kaniko-project/executor:v1.5.2-debug
    entrypoint: [""]
  variables:
    GIT_DEPTH: 1
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"${REGISTRY_URL}\":{\"auth\":\"${REGISTRY_AUTH}\"}}}" > /kaniko/.docker/config.json
    - DOCKER_BASE_VERSION="$(grep -m1 '^FROM' Dockerfile | cut -d':' -f2)"
    - |
        /kaniko/executor \
          --context ${CI_PROJECT_DIR} \
          --dockerfile ${CI_PROJECT_DIR}/Dockerfile \
          --destination ${REGISTRY_REPOSITORY}:${CI_COMMIT_SHORT_SHA} \
          --destination ${REGISTRY_REPOSITORY}:${DOCKER_BASE_VERSION} \
          --destination ${REGISTRY_REPOSITORY}:latest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "devel" || $CI_COMMIT_BRANCH == "release-5.3"'
      changes:
        - Dockerfile
        - docker/**
        - iop
  interruptible: true

# Continuous Build
SMARTHUB3_continuous:
  extends: .continuous
  variables:
    BOARD_NAME: "SMARTHUB3"

# Nightly
EX400:
  extends: .nightly
  variables:
    SKIP_TEST: "true"

SMARTHUB3:
  extends: .nightly

DISC:
  extends: .nightly
  variables:
    CUSTOMER_PROFILE: "MULTI-AP"

EAGLE:
  extends: .nightly

PANTHER:
  extends: .nightly

PANDA:
  extends: .nightly

KOALA:
  extends: .nightly
  variables:
    SKIP_TEST: "true"

ZEBRA:
  extends: .nightly
  variables:
    SKIP_TEST: "true"

EN7562:
  extends: .nightly

Update feed [ iopsys ] package [ bbf ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ openwrt_telephony ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ iopsys ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ broadcom ] package [ bcmkernel-4.19.183 ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ iopsys ] Dect : Support log level configuration
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ openwrt_core ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed openwrt_telephony package asterisk
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ targets ]
  feeds.conf
Due: SMARTHUB3_continuous

kernel: amend version hash
  include/kernel-version.mk
Due: none

Manual update of feeds
  feeds.conf
Due: SMARTHUB3_continuous

update feeds.conf
  feeds.conf
Due: SMARTHUB3_continuous

Revert "igmpproxy: set altnet to 0.0.0.0/0"
  package/network/services/igmpproxy/files/igmpproxy.config
Due: none

kernel: revert obselete CONFIG_KERNEL_HTTP_WGET_URI related patches
  include/kernel-build.mk
  include/kernel-defaults.mk
  include/kernel-version.mk
  include/kernel.mk
Due: none

Update feed [ openwrt_telephony ] Asterisk: Enable and load applications Echo and Record
  feeds.conf
Due: SMARTHUB3_continuous

docker: bump fixuid to 0.5.1
  Dockerfile
Due: Update Docker Image

docker: install Node.js container-wide instead of nvm
  Dockerfile
Due: Update Docker Image

config: remove obsolete KERNEL_GIT_COMMIT and KERNEL_HTTP_WGET_URI config options.
  config/Config-devel.in
Due: none

toolchain: revert obsolete CONFIG_KERNEL_GIT_BRANCH option. CONFIG_KERNEL_GIT_REF used instead
  toolchain/kernel-headers/Makefile
Due: none
