Repository jchuang1977/iopsyswrt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Update Docker Image, SMARTHUB3_continuous

.gitlab-ci.yml:

stages:
  - Update docker image
  - IOPSYSWRT

.nightly:
  stage: IOPSYSWRT
  variables:
    BOARD_NAME: $CI_JOB_NAME
    BUILD_TYPE: $BUILD_TYPE
    SKIP_TEST: "false"
  trigger:
    project: devops/iopsyswrt
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'

.continuous:
  stage: IOPSYSWRT
  trigger:
    project: devops/iopsyswrt
    strategy: depend
  rules:
    - if: '$CI_PIPELINE_SOURCE == "push"'
      changes:
        - feeds.conf

Update Docker Image:
  stage: Update docker image
  tags:
    - docker
  image:
    name: gcr.io/kaniko-project/executor:v1.5.2-debug
    entrypoint: [""]
  variables:
    GIT_DEPTH: 1
  script:
    - mkdir -p /kaniko/.docker
    - echo "{\"auths\":{\"${REGISTRY_URL}\":{\"auth\":\"${REGISTRY_AUTH}\"}}}" > /kaniko/.docker/config.json
    - DOCKER_BASE_VERSION="$(grep -m1 '^FROM' Dockerfile | cut -d':' -f2)"
    - |
        /kaniko/executor \
          --context ${CI_PROJECT_DIR} \
          --dockerfile ${CI_PROJECT_DIR}/Dockerfile \
          --destination ${REGISTRY_REPOSITORY}:${CI_COMMIT_SHORT_SHA} \
          --destination ${REGISTRY_REPOSITORY}:${DOCKER_BASE_VERSION} \
          --destination ${REGISTRY_REPOSITORY}:latest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule"'
      when: never
    - if: '$CI_COMMIT_BRANCH == "devel" || $CI_COMMIT_BRANCH == "release-5.3"'
      changes:
        - Dockerfile
        - docker/**
        - iop
  interruptible: true

# Continuous Build
SMARTHUB3_continuous:
  extends: .continuous
  variables:
    BOARD_NAME: "SMARTHUB3"

# Nightly
EX400:
  extends: .nightly
  variables:
    SKIP_TEST: "true"

SMARTHUB3:
  extends: .nightly

DISC:
  extends: .nightly
  variables:
    CUSTOMER_PROFILE: "MULTI-AP"

EAGLE:
  extends: .nightly

PANTHER:
  extends: .nightly

PANDA:
  extends: .nightly

KOALA:
  extends: .nightly
  variables:
    SKIP_TEST: "true"

ZEBRA:
  extends: .nightly
  variables:
    SKIP_TEST: "true"

EN7562:
  extends: .nightly

Update feed [ broadcom ] package [ bcmkernel-4.19.183 ]
  feeds.conf
Due: SMARTHUB3_continuous

update feeds.conf [ econet ]
  feeds.conf
Due: SMARTHUB3_continuous

update feeds.conf [ targets ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ targets ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ broadcom ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ iopsys ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ openwrt_core ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ openwrt_telephony ]
  feeds.conf
Due: SMARTHUB3_continuous

iop: Add new BCM toolchain, remove old ones
  iop
Due: Update Docker Image

iop: Restore gcc-9.2 toolchain
  iop
Due: Update Docker Image

Update feed [ iopsys ] package [ easy-soc-libs ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ iopsys ] package [ bbf ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ econet ]
  feeds.conf
Due: SMARTHUB3_continuous

[updated_feeds] [iopsys]
  feeds.conf
Due: SMARTHUB3_continuous

updated feeds [iopsys] [map-topology]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ broadcom ] package [ bcmkernel-4.19.225 ]
  feeds.conf
Due: SMARTHUB3_continuous

CI: Make testing skippable from GitLab schedule
  .gitlab-ci.yml
Due: none

CI: Add NVG578
  .gitlab-ci.yml
Due: none

CI: Rebuild container image on correct branches
  .gitlab-ci.yml
Due: none

CI: Make .gitlab-ci.yml more general
  .gitlab-ci.yml
Due: none

CI: always push Docker images for refs, even on default branch
  .gitlab-ci.yml
Due: none

CI: Add back tagging images with short commit ref
  .gitlab-ci.yml
Due: none

CI: Pass branch to downstream project
  .gitlab-ci.yml
Due: none

CI: Change SKIP_TEST declaration
  .gitlab-ci.yml
Due: none
