Repository jchuang1977/iopsyswrt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Update Docker Image, SMARTHUB3_continuous

Update Docker Image:
  stage: Update docker image
  tags:
  - docker
  image:
    name: gcr.io/kaniko-project/executor:v1.5.2-debug
    entrypoint:
    - ''
  variables:
    GIT_DEPTH: 1
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"${REGISTRY_URL}\":{\"auth\":\"${REGISTRY_AUTH}\"}}}" > /kaniko/.docker/config.json
  ...

SMARTHUB3_continuous:
  stage: IOWRT
  trigger:
    project: devops/iopsyswrt
    strategy: depend
  variables:
    CUSTOMER_PROFILE: EVAL
    SKIP_TEST: 'true'
    BOARD_NAME: SMARTHUB3

Update feed [ iopsys ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ targets ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ broadcom ] package [ bcmkernel-4.19.235 ]
  feeds.conf
Due: SMARTHUB3_continuous

CI: add job to build x86 Docker image
  .gitlab-ci.yml
Due: none

CI: reorder boards, so that autotest ones build first
  .gitlab-ci.yml
Due: none

CI: bump Kaniko to 1.9.0
  .gitlab-ci.yml
Due: none

Dockerfile: Update node version to 16.x
  Dockerfile
Due: Update Docker Image

CI: X86 is now stable, remove `allow_failure` parameter
  .gitlab-ci.yml
Due: none

CI: add MTK_PANTHER_OPEN to build SDK as public user
  .gitlab-ci.yml
Due: none

Update feed [ openwrt_core ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ econet ]
  feeds.conf
Due: SMARTHUB3_continuous

Update feed [ broadcom ]
  feeds.conf
Due: SMARTHUB3_continuous

Path conditions:
  Update Docker Image: any of: Dockerfile, docker/**, iop
  SMARTHUB3_continuous: any of: feeds.conf
